body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #c85048;
    color: #f0f0f8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.pergunta{
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 3px;
    border-radius: 20px;
    background-color:#89141b;
    width: 90%;
    max-width: 450px;
}

hr{
   border: none;
   height: 10px;
    background-color: #89141b;
    margin: 10px 0px;  
}

h2{
background-color: #70b8f0;
padding: 10px;
width: 300px; 
margin: 0 auto;
border-radius: 8px;
}

/* responsividade celular */
@media (max-width:480px) {

    p{
        line-height: 1.0;
        font-size: 18px;
    }
img{
    padding: 0px;
}
.pergunta{
    width: 95%;
    margin: 10px auto;
    border-radius: 15px;
}
}
